@import "_mixins";

.heading {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    @include respond-to(sm) {
        font-size: 22px;
        line-height: 33px;
    }

}